.DS_Store
.vscode/
/docker/db/data/
/server/node_modules
/server/public/hot
/server/public/storage
/server/storage/*.key
/server/vendor
/server/.env
/server/.env.testing
/server/.phpunit.result.cache
/server/Homestead.json
/server/Homestead.yaml
/server/npm-debug.log
/server/yarn-error.log
/server/storage/debugbar/
/server/public/js/app.js
/server/public/css/app.css 