
body{
  width  : 100vw;
  min-height: 700px;
  background-image: url("../img/img_background_tennis.jpeg");
  background-size: cover;
  position: relative;
}

footer{
  height: 70px;
  width: 100%;
  background-color: black;
  margin-top: 22px;
}

.font-alegreya{
  font-family: 'Alegreya Sans SC', sans-serif;
}

.top-link {
  margin-top: 32px;
  display: flex;
}

.top-link-tab {
  width: 25%;
}

.top-link-tab:hover {
  background-color:#404094;
  transition: 0.4s ;
  text-decoration:none;
}

.pt-140 {
  padding-top: 140px;
}

.font-20 {
  font-size: 20px;
}

.site-header{
  transition: .5s;
  z-index: 999;
}

.site-header.hide{
  transform: translateY(-100%);
}

/* ---- login and register ---- */

.p-tb-register {
  padding-top: 65px;
  padding-bottom: 60px;
}

.p-tb-rogin {
  padding-top: 125px;
  padding-bottom: 95px;
}

/* -------- welcome page ---------- */

.welcome-body {
  padding-top:300px;
  padding-bottom: 145px;
  min-height: 645px;
}

.subtitle-text{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: normal;
  font-size: 40px;
  color: white;
  text-align: center;
  background-color: rgba( 200, 200, 200, 0.55 );

}

.welcome-btn {
  width: 120px;
  height: 40px;
  font-size: 25px;
  color: white;
  border-radius: 27px;
  background-color: black;
  text-align: center;
  margin:0 auto;
  cursor: pointer;
  text-decoration: none;
}

.welcome-btn:hover {
  background: hsla(180,50%,50%,0.7);
}

.contents-left {
  width: 100%;
  background-color: white;
  border-radius :8px;
  box-shadow :0px 0px 5px silver;
}

.contents-head {
  border-radius :8px 8px 0px 0px;
}

li {
  line-height: 1;
  padding: 0.5em 0;
}

.list-box {
  height: 200px;
  overflow: scroll;
  padding-left: 10px;
  padding-right: 10px;
}

.movie-box {
  min-height: 520px;
}

.tour-box {
  min-height: 450px;
}

/* --------   contents-center ---------- */

.contents-center {
  width: 100%;
  background-color: white;
  border-radius :8px;
  box-shadow :0px 0px 5px silver;
}

td {
  line-height: 1;
  padding: 0.5em 0;
}

/* --------   contents-right ---------- */

.contents-right {
  width: 100%;
  height: 100%;
  min-height: 500px;
  background-color: white;
  border-radius :8px;
  box-shadow :0px 0px 5px silver;
}


/* --------   contents-favorite ---------- */

.contents-favorite {
  width: 100%;
  min-height: 500px;
  height: calc(100vh - 195px);
  background-color: white;
  border-radius :8px;
  box-shadow :0px 0px 5px silver;
}

@media screen and (max-width: 585px) {
    .top-link-tab {
      display: none;
  }
}