.favorite-player-wrapper {
  height: calc( 100vh - 90px );
}

.favorite-contents-left {
  width: 100%;
  background-color: white;
  border-radius :8px;
  box-shadow :0px 0px 5px silver;
}
.favorite-head {
  border-top-left-radius :8px;
  border-top-right-radius :8px;
}
.favorite-td {
  line-height: 1;
  padding: 0.5em 0;
}
.favorite-name-jp-w {
  width: 30%;
}
.favorite-name-en-w {
  width: 30%;
}
.favorite-country-w {
  width: 20%;
}
.favorite-age-w {
  width: 10%;
}
.favorite-tbody {
  overflow: scroll;
  overflow-x: hidden;
  min-height: 432px;
  height: calc( 100vh - 450px );
}
.favorite-add-btn {
  cursor: pointer;
}