
.modal-conteiner {
  /* min-height: 600px; */
}
.modal-head {
  display: flex;
  justify-content: space-between;
}
.modal-body {
  min-height: 400px;
}
.iflame {
  width: 100%;
  height: 400px
}

/*マスクを作成する*/
#mask{
  background: rgba(0,0,0,0.5);/*[POINT]背景を40％の濃さで透過する*/
  /*[POINT]画面全体を覆うようにする*/
  /*[POINT]絶対位置で指定し、上下左右0距離から描画を始めることで画面全体に適用できる*/
  position:fixed;/*絶対位置を指定*/
  top: 0;/*上に0距離から描画を始める*/
  bottom: 0;/*下に0距離から描画を始める*/
  right: 0;/*右に0距離から描画を始める*/
  left: 0;/*左に0距離から描画を始める*/
  z-index: 1;
}
/*モーダル画面*/
#modal{
  border-radius: 5px;
  background: white;/*背景は白(わかりやすさのため今は白じゃない)*/
  width: 70%; /*横幅を指定*/
  position:absolute;/*絶対位置を指定(スクロールで動く)*/
  top:40px;/*縦に40pxの位置から描画*/
  right: 0px;/*右に0距離から描画を始める*/
  left:0px;/*左に0距離から描画を始める*/
  margin:0 auto; /*左右中央寄せ*/
  padding: 20px; /*内側に余白*/
  z-index: 2;
  margin-top: 115px;
}
#mask.hidden{
  display:none; /*非表示にする*/
}
#modal.hidden{
  transform: translate(0px,-10000px);/*[POINT]マイナス方向に動かして画面外に飛ばしておく*/
}